<ion-view view-title="Cordova">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="h1 title login-title" edit-document-title title="Cordova">Cordova</div>
    <div class="buttons">
      <a href="#/helpCenter" class="button icon ion-ios-help-outline"></a>
      <a href="http://www.baidu.com" class="button icon ion-social-whatsapp-outline"></a>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a ng-click="goUserinf($event)" class="user-img-wrap row row-center" href="javascript:void(0)">
        <div class="img-wrap">
          <img id="user-img" ng-src="{{user.user_img   || 'img/default_img.png'}}">
        </div>
        <div class="info col">
          <!--<h4>{{user.phone}}</h4>-->
          <p>
            <span class="large padding-right">{{user.username}}</span>歡迎您！<br /> 積分：
            <span class="assertive padding-right">{{user.point}}</span> 元寶：<span class="assertive padding-right">{{user.ingot}}</span><br
            />
            <span class="vam"> 邀請碼：{{user.self_code}}</span>
            <img id="user-qr" src="img/qr.png" alt="" class="vam">
            <img id="user-help" src="img/wenhao.png" alt="" class="vam">
          </p>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div class="button-bar bar-light">
        <a class="button bdr" href="#/moneyScore">領積分</a>
        <a class="button" href="#/moneyGod">我的財神</a>
      </div>
    </div>
    <div class="list mt-40">
      <a class="item item-icon-left item-icon-right" href="#/recharge">
        <i class="icon ">
          <i class="iconfont icon-chongzhi"></i>
        </i>
        充值
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-href="#/{{user.bank?'drawing':'cardbind'}}">
        <i class="icon ">
          <i class="iconfont icon-tikuan"></i>
        </i>
        提款
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/exchange">
        <i class="icon ">
          <i class="iconfont icon-quedingduihuan"></i>
        </i>
        兌換
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#/buyList">
        <i class="icon ">
          <i class="iconfont icon-xiao03"></i>
        </i>
        購買記錄
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/like">
        <i class="icon ">
          <i class="iconfont icon-guanzhu"></i>
        </i>
        我的關注
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/fans">
        <i class="icon  ">
          <i class="iconfont icon-fensi"></i>
        </i>
        我的粉絲
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/account/1">
        <i class="icon ">
          <i class="iconfont icon-feiyongqingdan"></i>
        </i>
        賬戶清單
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/recommendation" ng-if="user.type == 1">
        <i class="icon ">
          <i class="iconfont icon-qunfengweinituijian"></i>
        </i>
        我的推薦
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="padding">
      <button ng-click="doQuit()" class="button button-block button-positive">退出登錄</button>
    </div>    
  </ion-content>
  <script id="my-modal.html" type="text/ng-template">		
			<ion-header-bar align-title="center" class="bar-positive">        
        <div class="h1 title login-title" edit-document-title title="分享">分享</div>
        <a ng-click="closeModal()" href="javascript: void(0)" class="button icon ion-ios-close-outline"></a>
      </ion-header-bar>
      <ion-content>
        <div class="text-center mt-40">邀請碼：{{user.self_code}}</div>
        <div class="share-qr text-center">
          <div id="qrcode" style="width:225px; height:225px; margin:0 auto;"></div>
        </div>
        <div class="share-txt padding">
          <p>您可以將您的邀請碼分享給朋友或者其他人，對方在港彩資訊成功註冊賬號並在個人中心“領積分”頁面，掃面或輸入您的邀請碼可免費領取積分。領取成功后他們每在淘料市場查看一次資料，您即可獲得10%元寶的收入。</p>
          <p class="text-center padding-bottom">港彩通訊下載地址：1396yy.com</p>
          <p class="padding"></p>
        </div>
      </ion-content>
      <div class="bar bar-footer">
        <div class="row p-0 text-center info-fbar">
          <a ng-click="share('wx')" class="col p-0 weixin">微信好友</a>
          <a ng-click="share('wx_circle')" class="col p-0 pengyouquan">朋友圈</a>
          <a ng-click="share('qq')" class="col p-0 qq">QQ</a>      
        </div>
      </div>
	</script>
</ion-view>