<ion-view view-title="JS">  
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="h1 title login-title" edit-document-title title="JS">JS</div>    
  </ion-header-bar>
  <ion-content>    
    <div class="list mt-40">
      <a class="item item-icon-right" href="#/set">          
        推送設置
        <i class="icon ion-ios-arrow-right"></i>
      </a>      
    </div> 
    <div class="list mt-40">
      <a class="item item-icon-right" href="#/about">          
        關於應用
        <i class="icon ion-ios-arrow-right"></i>
      </a> 
      <a class="item item-icon-right" href="#/disclaimer">          
        免責申明
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right" href="#/helpCenter">          
        幫助中心
        <i class="icon ion-ios-arrow-right"></i>
      </a>     
    </div> 
    <div class="list mt-40">
      <a class="item item-icon-right" ng-click="feedback()">          
        意見反饋
        <i class="icon ion-ios-arrow-right"></i>
      </a>   
      <a class="item item-icon-right" href="#/contact">          
        聯繫我們
        <i class="icon ion-ios-arrow-right"></i>
      </a>   
      <!-- <a class="item item-icon-right" href="#/app">          
        推薦應用
        <i class="icon ion-ios-arrow-right"></i>
      </a>  -->     
    </div>     
  </ion-content>
</ion-view>
