@charset "utf-8";
// 提示框
$c: (
  bd: #ddd,
  gold: #ceb32d,
  blue: #4889db,
  green: #379c49,
  red: #ff0000,
  yellow: #fea500,
  gray: #666
);
.c-blue{
  color: map-get($c, blue);
}
.c-gold{
  color: map-get($c, gold);
}
.c-green{
  color: map-get($c, green);
}
.c-red{
  color: map-get($c, red);
}
.c-yellow{
  color: map-get($c, yellow);
}
.c-gray{
  color: map-get($c, gray);
}

a{
  text-decoration: none;
  color: #000;
}
.vam{
  vertical-align: middle;
}

.dm-tips {
  z-index: 999;
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(44,44,44,.7);
  color: #fff;
  text-align: center;
  top: 40%;
  max-width: 170px;
  padding: 12px;
  border-radius: 8px;
}
@keyframes tipsHide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
ion-content{
  background-color: #e9eef3;
}
.mt-40{
  margin-top: dp(40) !important;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mb-50{
  margin-bottom: 50px !important;
}
.mlr-20{
  margin-left: dp(20);
  margin-right: dp(20);
}
.mlr-50{
  margin-left: dp(50);
  margin-right: dp(50);
}
.mlr-100{
  margin-left: dp(100);
  margin-right: dp(100);
}
.mlr-10{
  margin-left: dp(10);
  margin-right: dp(10);
}
.mt-200{
  margin-top: dp(200);
}
.mt-100{
  margin-top: dp(100);
}
.m-0{
  margin: 0 !important;
}
.p-0{
  padding: 0 !important;
}
.mp-0{
  margin: 0 !important;
  padding: 0 !important;
}
.rown{
  margin: 0 !important;
  padding: 5px !important;
}

.iconfont{
  font-size: 24px !important;
}

.bdn{
  border: 0 none !important;
}
.bdr{
  border-right: 1px solid map-get($c, bd) !important;
}
.bdb{
  border-bottom: 1px solid map-get($c, bd) !important;
}
.bdra{
  border-radius: 9999px;
}
.bdra0{
  border-radius: 0 !important;
}
.bdc{
  display: inline-block;
  vertical-align: middle;
  border: 2px solid $positive;
  color: $positive;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}

textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  height: 150px;
  border: 1px solid map-get($c, bd);
  border-radius: 2px;
}

%hn{
  background-size: dp(54) auto !important;
  background-repeat: no-repeat;  
}
.hot{
  @extend %hn;
  background-image: url(../img/hot.png);
  background-position: 0 0;
}
.hotr{  
  @extend %hn;
  background-image: url(../img/hotr.png);
  background-position: 100% 0;
}
.new{  
  @extend %hn;
  background-image: url(../img/new.png);
  background-position: 0 0;
}

%quan{
  width: dp(50);
  height: dp(50);
  line-height: dp(50);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-size: dp(50) dp(50);
  -webkit-background-size: dp(50) dp(50);
  background-position: 0 0;
  background-repeat: no-repeat;
  
}
.quanr, .quanred{
  @extend %quan;
  color: #d10b17;  
  background-image: url(../img/cr.png);
}
.quang, .quangreen{
  @extend %quan;
  color: #3aa14b;  
  background-image: url(../img/cg.png);
}
.quanb, .quanblue{
  @extend %quan;
  color: #1c80c1;  
  background-image: url(../img/cb.png);
}
.jia{
  @extend %quan;
  color: $calm;
  font-weight: 900;
  font-size: dp(70);  
  // margin-top: -5px;
}
.jia-white{
  @extend .jia;
  margin-top: 0px;
  color: #fff;
}

%q{
  width: dp(50);
  height: dp(50);
  line-height: dp(40);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-size: dp(50) dp(50);
  -webkit-background-size: dp(50) dp(50);
  background-position: 0 0;
  background-repeat: no-repeat;
  // margin: dp(10) dp(6);
  margin: dp(10) dp(0);
  font-size: 12px;
}
.qr, .qred{
  @extend %q;
  color: #d10b17;  
  background-image: url(../img/cr1.png);
}
.qg, .qgreen{
  @extend %q;
  color: #3aa14b;  
  background-image: url(../img/cg1.png);
}
.qb, .qblue{
  @extend %q;
  color: #1c80c1;  
  background-image: url(../img/cb1.png);
}


.gray-bg{
  background-color: #8c8c8c;
}
.ti2{
  text-indent: 2em;
}
.w-100{
  width: 100px;
}
.w-50p{
  width: 50%;
}

%tag{
  background-position: 97% 0;
  background-repeat: no-repeat;
  background-size: dp(40) auto;
  -weblit-background-size: dp(40) auto;
}
.tag-sx{
  @extend %tag;
  background-image: url(../img/tag-sx.png);
}
.tag-bs{
  @extend %tag;
  background-image: url(../img/tag-bs.png);
}
.tag-dx{
  @extend %tag;
  background-image: url(../img/tag-dx.png);
}
.tag-ds{
  @extend %tag;
  background-image: url(../img/tag-ds.png);
}
.tag-hm{
  @extend %tag;
  background-image: url(../img/tag-hm.png);
}
.tag-yx{
  @extend %tag;
  background-image: url(../img/tag-yx.png);
}

.bdage{
  background-color: $positive;
  color: #fff;
  padding: 0 5px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 2px;
}

.bdage-code{  
  border-style: solid;
  border-width: 1px;  
  vertical-align: middle;
  display: inline-block;
  border-radius: 2px;
  margin: 3px;
  width: 22px;
  text-align: center;  
  border-color: $positive;
  color: $positive;  
  &.active{
    color: #fff;
    background-color: $positive;
  }
}

.large{
  font-size: 120%;
}
.small{
  font-size: 80%;
}
.fl{
  float: left;
}
.fr{
  float: right;
}

.icon{
  img{
    width: dp(60);
  }
}

.input-label{
  font-size: 14px;
}

.html-wrap{
  font-size: 14px;
  img{
    max-width: 100%;
  }
}