<ion-header-bar align-title="center" class="bar-positive">
    <a class="button iconfont icon-zuojiantou" ng-click="goBack()"></a>
    <div class="h1 title login-title" edit-document-title title="toastr">toastr</div>
</ion-header-bar>
<ion-content class="has-header">
    <div class="padding">
        <a href="http://codeseven.github.io/toastr/demo.html">参考</a>
    </div>
    <div class="padding">
        <input type="button" name="success" id="success" value="成功" ng-click="mytoastr.success()" />
        <input type="button" name="info" id="info" value="提示" ng-click="mytoastr.info()" />
        <input type="button" name="warning" id="warning" value="警告" ng-click="mytoastr.warning()" />
        <input type="button" name="error" id="error" value="错误" ng-click="mytoastr.error()" />
        <input type="button" name="clear" id="clear" value="清除" ng-click="mytoastr.clear()" />
    </div>
</ion-content>